[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Tt]emp/
[obj]/
[Bb]in/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Packages/manifest.tmp
Assets/StreamingAssets/*.unitypackage
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.ide
sysinfo.txt