########################
# Unity Generated
########################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

########################
# IDE
########################

.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.sln.iml
*.sln.DotSettings.user
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db
*.ide

########################
# OS
########################

.DS_Store
Thumbs.db

########################
# Unity / Build
########################

TestResults/
.gradle/
ExportedObj/
ServerData/
*.stacktrace
*.dmp

########################
# Packages
########################

Packages/manifest.tmp

########################
# Exported Packages
########################

*.unitypackage

########################
# Misc
########################

sysinfo.txt
Assets/TODO.md