[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Tt]emp/
[obj]/
[Bb]in/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vs/
.idea/
.vscode/
*.sln.iml
Packages/manifest.tmp
Assets/StreamingAssets/*.unitypackage
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.sln.DotSettings.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.ide
Assets/TODO.md
sysinfo.txt
Obj/
obj/
